$linkPurple: #8c5abf;
$linkHover: #7949ab;
$lightPurple: #cba0f8;
$lightGold: #ffed8f;

@media (min-width: 1200px) and (max-width: 1399px) {
    body.va-details .col-xl-2 {
        flex: 0 0 auto;
        width: 20%;
    }
}

body.va-details {
    .hero {
        background-color: rgb(239, 239, 239);
    }
    .sort-msg {
        opacity: 0;
        color: var(--bs-green);
    }
    .roles {
        .card-role {
            .img-wrap {
                position: relative;
                aspect-ratio: 3 / 4.5;
                overflow: hidden;
                //max-width: 200px;
                img.character-img {
                    z-index: 3;
                }
                img.series-img {
                    width: 40%;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    z-index: 3;
                }
                .blur-bg {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-size: cover;
                    filter: blur(10px);
                    transform: scale(1.2);
                }
            }
            a.series {
                color: $linkPurple;
                text-decoration: none;
                font-weight: bold;
                // line-height: 1.4em;
                &:hover {
                    text-decoration: underline;
                }
            }
            .info {
                .title {
                    color: #6c757d;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: bold;
                    margin-bottom: -5px;
                }
                .year {
                    font-weight: 600;
                }
                .popularity {
                    font-weight: 600;
                    font-size: 18px;
                }
                .score {
                    aspect-ratio: 1 / 1;
                    // Default styles for screens wider than 400px
                    width: 50px; // Default width for screens wider than 400px
                    font-size: 24px;

                    @media (max-width: 400px) {
                        max-width: 40px; // Max width for screens narrower than 400px
                        width: unset; // Reset the width property
                        font-size: 18px;
                    }
                    // background-color: green; this is dynamic via js now
                    font-weight: bold;
                    color: #fff;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                }
            }
            .userlist {
                .al-user {
                    margin-top: -15px;
                    .badge {
                        border: 1px solid var(--bs-border-color-translucent);
                    }
                }
                .list-group-item {
                    padding: 5px 10px;
                }
                .badge {
                    font-size: 11px;
                }
                .bg-purple {
                    background-color: var(--bs-purple);
                }
            }
            // .stats {
            //     justify-content: space-between;
            //     .stat {
            //         background-color: cadetblue;
            //         color: #fff;
            //         text-align: center;
            //         .top {
            //             font-size: 20px;
            //             font-weight: bold;
            //         }
            //         .bottom {
            //             font-size: 12px;
            //             text-transform: uppercase;
            //         }
            //     }
            // }
        }
    }
}

body.series-search {
    .series {
        .card-series {
            .cover {
                width: 100px !important;
            }
        }
    }
}

body.series-details {
    .hero {
        position: relative;
        background-size: cover;
        background-position: center center;
        .overlay-fill {
            background: rgba(0, 0, 0, 0.6);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1; /* Make the overlay sit behind the content */
        }
        .container {
            z-index: 2;
            position: inherit;
        }
        .description {
            .morecontent {
                margin: 0;
                padding: 0;

                span {
                    display: none;
                }

                .read-more {
                    display: inline;
                    cursor: pointer;
                }
            }

            .moreellipses {
                display: inline;
            }
        }
    }
    .characters {
        .card-character {
            .va-img-wrap,
            .char-img-wrap {
                aspect-ratio: 1/1.4;
                /* position: relative; */
                overflow: hidden;
                width: 50px !important;
                height: 75px;
                img.char-img,
                img.va-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .character-text {
                word-wrap: break-word;
            }
            .left,
            .right a {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                word-wrap: break-word;
            }
            .left {
                .role {
                    color: $lightGold;
                }
                img {
                    border-radius: calc(0.25rem - 1px) 0 0 calc(0.25rem - 1px);
                }
            }
            .right {
                a {
                    text-decoration: none;
                    font-weight: 500;
                    &:hover,
                    &:focus {
                        text-decoration: underline;
                    }
                }
                img {
                    border-radius: 0 calc(0.25rem - 1px) calc(0.25rem - 1px) 0;
                }
            }
            .popular-roles {
                .title {
                    border-top: 1px solid var(--bs-border-color-translucent);
                    font-size: 12px;
                    text-align: center;
                    /* font-weight: bold; */
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    padding: 5px;
                    background-color: #e8e8e8;
                }
                .character {
                    width: 20%;
                    .img-wrap {
                        position: relative;
                        aspect-ratio: 3 / 4;
                        overflow: hidden;
                        width: auto;
                        height: 100%;

                        //max-width: 200px;
                        img.character-img {
                            z-index: 3;
                        }
                        .blur-bg {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            background-size: cover;
                            filter: blur(10px);
                            transform: scale(1.2);
                        }

                        .overlay {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.6);
                            color: #fff;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            justify-content: center;
                            opacity: 0;
                            transition: opacity 0.3s;
                        }
                        &:hover {
                            .overlay {
                                opacity: 1;
                            }
                        }
                    }
                }
                img {
                    // width:20%;
                }
            }
        }
    }
}

.card-img-top {
    width: auto;
    height: 100%;
    // border-radius: calc(0.25rem - 1px) 0 calc(0.25rem - 1px) 0;
}

.card-img-left {
    width: auto;
    height: 100%;
    border-radius: calc(0.25rem - 1px) 0 0 calc(0.25rem - 1px);
}
.card-img-poster {
    width: 100px;
}

.score-red {
    background-color: var(--bs-red);
}
.score-orange {
    background-color: var(--bs-orange);
}
.score-yellow-orange {
    background-color: #ffa500; // Color for Yellow Orange
}
.score-yellow-green {
    background-color: var(--bs-teal); // Color for Yellow Green
}
.score-green {
    background-color: var(--bs-green);
}
