@media (min-width: 1200px) and (max-width: 1399px) {
    body.va-details .col-xl-2 {
        flex: 0 0 auto;
        width: 20%;
    }
}

.roles {
    .card-role {
        .img-wrap {
            position: relative;
            max-width: 200px;
            img.character-img {
            }
            img.series-img {
                width: 40%;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
}

body.series-search {
    .series {
        .card-series {
            .cover {
                width: 100px !important;
            }
        }
    }
}

.card-img-left {
    width: auto;
    height: 100%;
    border-radius: calc(0.25rem - 1px) 0 0 calc(0.25rem - 1px);
}
.card-img-poster {
    width: 100px;
}
