<header class="p-2 text-bg-dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-topp bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Onsei.moe</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {#
                    <li class="nav-item">
                        <a
                            class="nav-link {{ 'active' if request.path == '/' }}"
                            href="/"
                            >Home</a
                        >
                    </li>
                    #}
                    <li class="nav-item">
                        <a
                            class="nav-link {{ 'active' if request.path.startswith('/va/') }}"
                            href="/va/search"
                            >VA Search</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link {{ 'active' if request.path.startswith('/series/') }}"
                            href="/series/search"
                            >Series Search</a
                        >
                    </li>
                    {% if g.user %}
                    <li class="nav-item">
                        <a
                            class="nav-link {{ 'active' if request.path.startswith('/profile') }}"
                            href="/profile"
                            >Profile</a
                        >
                    </li>
                    {% endif %}
                </ul>
                {#
                <form class="d-flex" role="search">
                    <input
                        class="form-control me-2"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                    />
                    <button class="btn btn-outline-success" type="submit">
                        Search
                    </button>
                </form>
                #}
                <div class="text-md-end">
                    {% if g.user %}
                    <a href="/logout" class="btn btn-outline-light me-2">
                        Logout
                    </a>
                    {% else %}
                    <a href="/login" class="btn btn-outline-light me-2">
                        Login
                    </a>
                    <a href="/signup" class="btn btn-warning"> Sign Up </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
{#
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center py-1">
            <a
                href="/"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
            >
                <span class="fs-4 text-white">Onsei.moe</span>
            </a>

            <ul class="nav nav-pills">
                <li>
                    <a href="/" class="nav-link px-2 text-white">Home</a>
                </li>
                <li>
                    <a href="/va/search" class="nav-link px-2 text-white"
                        >VA Search</a
                    >
                </li>
                <li>
                    <a href="/series/search" class="nav-link px-2 text-white"
                        >Series Search</a
                    >
                </li>
                {% if g.user %}
                <li>
                    <a href="/profile" class="nav-link px-2 text-white"
                        >Profile</a
                    >
                </li>
                {% endif %}
            </ul>

            <div class="text-end">
                {% if g.user %}
                <a href="/logout" class="btn btn-outline-light me-2">
                    Logout
                </a>
                {% else %}
                <a href="/login" class="btn btn-outline-light me-2"> Login </a>
                <a href="/signup" class="btn btn-warning"> Sign Up </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
#}
