{% extends "base.html" %} {% block title %}Anime Series Search - Onsei{%
endblock %} {% block body_class %}series-search{% endblock %} {% block content
%}

<div class="row">
    <div class="col">
        <h2>Search Series</h2>
        <form action="/series/search" method="POST">
            <div class="form-group">
                <label for="series-search">Search:</label>
                <input
                    type="text"
                    class="form-control"
                    id="series-search"
                    name="series-search"
                    placeholder="Enter a series name"
                    {%
                    if
                    query
                    %}
                    value="{{query}}"
                    {%
                    endif
                    %}
                />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>
{% if series %}
<div class="row mt-4">
    <div class="col">
        <h3>Search Results:</h3>
    </div>
</div>
<div class="row series">
    {% for s in series %}
    <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4">
        <div class="card card-series flex-row mb-3">
            <img
                class="card-img-left card-img-poster"
                src="{{ s.coverImage.medium }}"
                alt="{{ s.title.english or s.title.romaji }} Poster"
            />
            <div class="card-body">
                <h5 class="card-title h4-sm">
                    {{ s.title.english or s.title.romaji }}
                </h5>
                <a href="/series/{{ s.id }}" class="btn btn-primary">
                    View Series
                </a>
            </div>
            {#
            <div class="d-flex align-items-center">
                <div class="cover">
                    <img
                        src="{{ s.coverImage.medium }}"
                        alt="{{ s.title.english or s.title.romaji }} Poster"
                        class="img-fluid"
                    />
                </div>
                <div class="p-2 flex-grow-1">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ s.title.english or s.title.romaji }}
                        </h5>
                        <a href="/series/{{ s.id }}" class="btn btn-primary">
                            View Series
                        </a>
                    </div>
                </div>
            </div>
            #}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %} {% endblock %}
