{% extends "base.html" %} {% block title %}{{ output.series.title.english or
output.series.title.romaji }} Details{% endblock %} {% block body_class
%}series-details{% endblock %} {% block content_class %}mb-5{% endblock %} {%
block body_data %}data-series-id="{{ series_id }}"{% endblock %} {% block
content %}

<div
    class="hero mb-3 py-5"
    style="background-image:url('{{ output.series.bannerImage }}')"
>
    <div class="overlay-fill"></div>
    <div class="container text-white">
        <div class="row">
            <div class="col-sm-4 col-lg-3">
                <img
                    src="{{ output.series.coverImage.large }}"
                    alt="{{ output.series.title.english or output.series.title.romaji }}"
                    class="img-fluid"
                />
            </div>
            <div class="col-sm-8 col-lg-9">
                <h1>
                    {{ output.series.title.english or output.series.title.romaji
                    }}
                </h1>
                {% if output.series.title.english %}
                <h3>({{output.series.title.romaji}})</h3>
                {% endif %}

                <div class="description mb-2">
                    {{ output.series.description|safe }}
                </div>

                <p>
                    {% if output.series.season or output.series.seasonYear %}
                    Season: {{output.series.season}}
                    {{output.series.seasonYear}}<br />
                    {% endif %} Genre: {% for genre in output.series.genres %}
                    {{ genre }} {% if not loop.last %}, {% endif %} {% endfor
                    %}<br />
                    Studio: {{ output.series.studios.edges[0].node.name }}<br />
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6"><h3>Characters:</h3></div>
        <div class="col-sm-6">
            {#
            <select id="sort-select">
                <option value="seasonYear">Sort by season year</option>
                <option value="popularity">Sort by popularity</option>
                <option value="averageScore">Sort by average score</option>
            </select>
            #}
        </div>
    </div>
    <div class="row characters"></div>
</div>
<!-- Temporary section to display the full output string -->
{#
<div>
    <pre>{{ output }}</pre>
</div>
#} {% endblock %} {% block extra_js %}
<script>
    $(document).ready(function () {
        // Create a global variable for the observer
        window.observer = lozad();
        window.observer.observe();
    });

    var seriesId = $('body').data('series-id');
    console.log('Script is running, series id:', seriesId);

    $(document).ready(function () {
        var showChar = 300;
        var ellipsestext = '...';
        var moretext = 'Read more';
        var lesstext = 'Read less';

        $('.description').each(function () {
            // Get the full text content of the current element
            var content = $(this).html();
            // Remove any leading/trailing white spaces
            var description = content.trim();

            // If the length of the text is more than the defined showChar
            if (description.length > showChar) {
                // Extract the portion of the text up to the showChar limit
                var shownDesc = description.substr(0, showChar);
                // Extract the remainder of the text
                var hiddenDesc = description.substr(
                    showChar,
                    description.length - showChar
                );

                // Construct the HTML to show initially and the hidden part
                var html =
                    shownDesc +
                    '<span class="moreellipses">' +
                    ellipsestext +
                    '&nbsp;</span><span class="morecontent"><span>' +
                    hiddenDesc +
                    '</span>&nbsp;<a href="" class="morelink text-white">' +
                    moretext +
                    '</a></span>';

                // Replace the current html content with the constructed html
                $(this).html(html);
            }

            // When 'read more' or 'read less' is clicked do the following
            $('.morelink').click(function () {
                // If it currently shows 'read less'
                if ($(this).hasClass('less')) {
                    $(this).removeClass('less');
                    $(this).html(moretext);
                } else {
                    $(this).addClass('less');
                    $(this).html(lesstext);
                }

                // Toggle visibility of the text beyond the showChar limit
                $(this).parent().prev().toggle();
                // Toggle visibility of the ellipsis
                $(this).prev().toggle();

                // Prevent any default action from the click event
                return false;
            });
        });
    });

    // Pull user's anime list (can be empty)
    let animeList;

    // Set empty charMedia & sortBy
    let seriesMedia, sortBy;

    getSeriesRoles(seriesId).then((media) => {
        // Update charMedia with our API payload
        seriesMedia = media;

        displaySeriesRoles(seriesMedia);
        // After dynamically adding images, tell lozad to observe them
        window.observer.observe();
    });
</script>
{% endblock %}
