{% extends "base.html" %} {% block title %}Anime Series Search - Onsei{%
endblock %} {% block body_class %}series-search{% endblock %} {% block
content_class %}mb-5{% endblock %} {% block content %}
<div class="hero py-5 mb-5">
    <div class="container">
        <div class="row">
            <div
                class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-white text-center"
            >
                <h2>Search Anime Series</h2>
                <p>
                    Enter a title below to explore its characters & voice
                    actors.
                </p>
                <form action="/series/search" method="POST">
                    <div class="input-group">
                        {# <label for="series-search">Search:</label> #}
                        <input
                            type="text"
                            class="form-control"
                            id="series-search"
                            name="series-search"
                            placeholder="Enter a series name"
                            {%
                            if
                            query
                            %}
                            value="{{query}}"
                            {%
                            endif
                            %}
                        />
                        <button type="submit" class="btn btn-warning">
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% if series %}
    <div class="row mt-4">
        <div class="col">
            <h3>Search Results:</h3>
        </div>
    </div>
    <div class="row series">
        {% for s in series %}
        <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4">
            <a href="/series/{{ s.id }}" class="card card-series flex-row mb-3">
                {#
                <div class="card card-series flex-row mb-3">
                    #}
                    <img
                        class="lozad card-img-left card-img-poster"
                        data-src="{{ s.coverImage.medium }}"
                        alt="{{ s.title.english or s.title.romaji }} Poster"
                    />
                    <div class="card-body">
                        <h5 class="card-title h4-sm mb-2">
                            {{ s.title.english or s.title.romaji }}
                        </h5>
                        <div class="season mb-2">
                            {% if s.season %}{{ s.season }}{% endif %} {% if
                            s.seasonYear %}{{ s.seasonYear }}{% endif %}
                        </div>
                        {#
                        <a href="/series/{{ s.id }}" class="btn btn-primary">
                            View Series
                        </a>
                        #}
                    </div>
                    {#
                </div>
                #}
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row mt-4">
        <div class="col text-center">
            <div class="placehold">
                <h3>Results Go Here</h3>
                <p>Search for an Anime Series!</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %} {% block extra_js %}
<script>
    $(document).ready(function () {
        // Create a global variable for the observer
        window.observer = lozad();
        window.observer.observe();
    });
</script>
{% endblock %}
