{% extends "base.html" %} {% block title %}{{ output.va.name.full }} Details{%
endblock %} {% block body_class %}va-details{% endblock %} {% block body_data
%}data-va-id="{{ va_id }}"{% endblock %} {% block content %}

<div class="row">
    <div class="col-sm-4 col-lg-3">
        <img
            src="{{ output.va.image.large }}"
            alt="{{ output.va.name.full }}"
            class="img-fluid"
        />
    </div>
    <div class="col-sm-8 col-lg-9">
        <h1>{{ output.va.name.full }}</h1>

        <p>
            Gender: {{ output.va.gender }}<br />
            Age: {{ output.va.age }}<br />
            Date of Birth: {{ output.va.dateOfBirth.day }}-{{
            output.va.dateOfBirth.month}}-{{ output.va.dateOfBirth.year }}
        </p>
    </div>
</div>
<div class="row roles">
    <h3>Roles:</h3>
    {% for media in output.characterMedia %} {% if media.characters %}
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card card-role">
            <div class="card-body">
                {% if media.characters[0].image %}
                <div class="img-wrap mb-3">
                    <img
                        src="{{ media.characters[0].image.large }}"
                        alt="{{ media.characters[0].name.full }}"
                        class="character-img img-fluid"
                    />
                    <img
                        src="{{ media.node.coverImage.medium }}"
                        alt="{{ media.node.title.romaji }}"
                        class="series-img img-fluid"
                    />
                </div>
                {% else %}
                <p>No image available</p>
                {% endif %} {% if media.characters[0].name %}
                <h5 class="character">{{ media.characters[0].name.full }}</h5>
                {% else %}
                <h5 class="character">Unknown Character</h5>
                {% endif %}
                <div class="series">{{ media.node.title.romaji }}</div>
                <p>Year: {{ media.node.seasonYear }}</p>
                {#
                <p>Mean Score: {{ media.node.meanScore }}</p>
                <p>Popularity: {{ media.node.popularity }}</p>
                #}
                <!-- Display other media details as needed -->
                AL Link:
                <a href="https://anilist.co/anime/{{ media.node.id }}">Link</a>
            </div>
        </div>
    </div>
    {% endif %} {% endfor %}
</div>
<!-- Temporary section to display the full output string -->
<div>
    <pre>{{ output }}</pre>
</div>

{% endblock %} {% block extra_js %}
<script>
    var vaId = $('body').data('va-id');

    fetchCharacterMedia(vaId).then((charMedia) => {
        // This code will be executed when the AJAX call completes.
        displayCharacterMedia(charMedia);
    });
</script>
{% endblock %}
