{% extends "base.html" %} {% block title %}{{ output.va.name.full }} Details{%
endblock %} {% block body_class %}va-details{% endblock %} {% block body_data
%}data-va-id="{{ va_id }}"{% endblock %} {% block content %}

<div class="row">
    <div class="col-sm-4 col-lg-3">
        <img
            src="{{ output.va.image.large }}"
            alt="{{ output.va.name.full }}"
            class="img-fluid"
        />
    </div>
    <div class="col-sm-8 col-lg-9">
        <h1>{{ output.va.name.full }}</h1>

        <p>
            Gender: {{ output.va.gender }}<br />
            Age: {{ output.va.age }}<br />
            Date of Birth: {{ output.va.dateOfBirth.day }} / {{
            output.va.dateOfBirth.month}} / {{ output.va.dateOfBirth.year }}<br />
            {% if output.va.dateOfDeath.year %} Date of Death: {{
            output.va.dateOfDeath.day }} / {{ output.va.dateOfDeath.month }} /
            {{ output.va.dateOfDeath.year }}<br />
            {% endif %} {% if output.va.homeTown %} Hometown: {{
            output.va.homeTown }}<br />{% endif %} {% if output.va.bloodType
            %}Blood Type: {{ output.va.bloodType }}<br />{% endif %} {% if
            output.va.yearsActive|length %} Years Active: {% if
            output.va.yearsActive|length == 1 %} {{ output.va.yearsActive[0] }}
            - Present {% else %} {{ output.va.yearsActive[0] }} - {{
            output.va.yearsActive[1] }} {% endif %} {% endif %}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6"><h3>Roles:</h3></div>
    <div class="col-sm-6">
        <select id="sort-select">
            <option value="seasonYear">Sort by season year</option>
            <option value="popularity">Sort by popularity</option>
            <option value="averageScore">Sort by average score</option>
        </select>
    </div>
</div>
<div class="row roles"></div>
<!-- Temporary section to display the full output string -->
<div>
    <pre>{{ output }}</pre>
</div>

{% endblock %} {% block extra_js %}
<script>
    var vaId = $('body').data('va-id');
    console.log('Script is running, va id:', vaId);

    // Pull user's anime list (can be empty)
    let animeList = {{ output.anime_list|tojson|safe }};

    // Set empty charMedia & sortBy
    let charMedia, sortBy;

    getCharacterMedia(vaId).then((media) => {
        // Update charMedia with our API payload
        charMedia = media;

        let filteredMedia;

        if (!animeList || animeList.length === 0) {
            console.log("No animeList provided or list is empty.");
            filteredMedia = charMedia;
            sortBy = 'node.seasonYear';
        } else {
            console.log("User animeList not empty, add userdata to charMedia before sorting.");
            // Add user's list data to charMedia
            for (let media of charMedia) {
                // If the media is in the users list, add the data!
                let mediaId = media.node.id;
                if (animeList[mediaId]) {
                    media.node.userListStatus = animeList[mediaId].status;
                    media.node.userListScore = animeList[mediaId].score;
                    media.node.userListSeasonYear = media.node.seasonYear;
                    media.node.onUserList = true;
                } else {
                    // Media isn't in their list? False so we can filter easy!
                    media.node.onUserList = false;
                }
            }

            // Add sort options based on user data
            $('#sort-select').append($('<option>', { value : 'userListScore' }).text('Sort by user list score'));
            $('#sort-select').append($('<option>', { value : 'userListSeasonYear' }).text('Sort by user list season year'));

            sortBy = 'node.userListScore';
            filteredMedia = charMedia.filter(media => media.node.onUserList);
            $('#sort-select').val('userListScore');
        }

        let sortedMedia = sortMedia(filteredMedia, sortBy, 'desc');
        displayCharacterMedia(sortedMedia);
    });

    document
        .getElementById('sort-select')
        .addEventListener('change', function () {
            let sortBy = this.value;
            //console.log('SORT BY: ', sortBy);

            let filteredMedia;
            // If sorting by user list score or user list season year, filter out media not on the user list
            if (sortBy === 'userListScore' || sortBy === 'userListSeasonYear') {
                filteredMedia = charMedia.filter(media => media.node.onUserList);
            } else {
                // Otherwise use the whole media list
                filteredMedia = charMedia;
            }

            let sortedMedia = sortMedia(filteredMedia, 'node.' + sortBy, 'desc');
            // First clear the current display
            $('.roles').empty();
            // Then display the sorted media
            displayCharacterMedia(sortedMedia);
        });
</script>
{% endblock %}
