{% extends "base.html" %} {% block title %}VA Search - Onsei{% endblock %} {%
block body_class %}va-search{% endblock %} {% block content %}
<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Select Voice Actor</h2>
                <form action="/va/search" method="POST">
                    <div class="form-group">
                        <label for="va-search">Search:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="va-search"
                            name="va-search"
                            placeholder="Enter a voice actor's name"
                            {%
                            if
                            query
                            %}
                            value="{{query}}"
                            {%
                            endif
                            %}
                        />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% if staff %}
<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h3>Search Results:</h3>
        </div>
    </div>
    <div class="row va">
        {% for va in staff %}
        <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4">
            <div class="card card-staff flex-row mb-3">
                <img
                    class="card-img-left card-img-poster"
                    src="{{ va.image.medium }}"
                    alt="{{ va.name.full }} Photo"
                />
                <div class="card-body">
                    <h5 class="card-title h4-sm">{{ va.name.full }}</h5>
                    <div>
                        {% for character in va.characters.nodes %}
                        <h6>Character: {{ character.name.full }}</h6>
                        {% endfor %}
                    </div>
                    <a href="/va/{{ va.id }}" class="btn btn-primary">
                        View Staff Member
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<div>
    <pre>{{ staff }}</pre>
</div>
{% endblock %}
