{% extends "base.html" %} {% block title %}VA Search - Onsei{% endblock %} {%
block body_class %}va-search{% endblock %} {% block content_class %}mb-5{%
endblock %} {% block content %}
<div class="hero py-5 mb-5">
    <div class="container">
        <div class="row">
            <div
                class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-white text-center"
            >
                <h2>Search Voice Actors</h2>
                <p>
                    Enter a voice actor's name below and discover their roles in
                    various series.
                </p>
                <form action="/va/search" method="POST">
                    {# <label for="va-search">Search:</label> #}
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            id="va-search"
                            name="va-search"
                            placeholder="Enter a voice actor's name"
                            {%
                            if
                            query
                            %}
                            value="{{query}}"
                            {%
                            endif
                            %}
                        />
                        <button type="submit" class="btn btn-warning">
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% if staff %}
    <div class="row mt-4">
        <div class="col">
            <h3>Search Results:</h3>
        </div>
    </div>
    <div class="row va">
        {% for va in staff %}
        <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4">
            <a href="/va/{{ va.id }}" class="card card-staff flex-row mb-3">
                <div class="char-img-wrap card-img-left card-img-poster">
                    <img
                        class="lozad"
                        data-src="{{ va.image.medium }}"
                        alt="{{ va.name.full }} Photo"
                    />
                </div>

                {#
                <img
                    class="lozad card-img-left card-img-poster"
                    data-src="{{ va.image.medium }}"
                    alt="{{ va.name.full }} Photo"
                />
                #}
                <div class="card-body">
                    <h5 class="card-title mb-2">{{ va.name.full }}</h5>
                    <h6 class="mb-1">Popular Characters:</h6>
                    <div class="pop-chars d-flex flex-row">
                        {% for character in va.characters.nodes %} {#
                        <h6>Character: {{ character.name.full }}</h6>
                        #}
                        <div class="character w-20">
                            <div
                                class="img-wrap d-flex justify-content-center align-items-center"
                                data-bs-toggle="tooltip"
                                data-bs-title="{{character.name.full}}"
                            >
                                <img
                                    data-src="{{character.image.medium}}"
                                    alt="{{character.name.full}}"
                                    class="lozad character-img img-fluid"
                                />
                                <div
                                    class="blur-bg lozad"
                                    data-background-image="{{character.image.medium}}"
                                ></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% elif search_made %}
    <div class="row mt-4">
        <div class="col text-center">
            <h3>No Voice Actor Results Found</h3>
            <p>Please change your search term and try again!</p>
        </div>
    </div>
    {% else %}
    <div class="row mt-4">
        <div class="col text-center">
            <div class="placehold">
                <h3>Results Go Here</h3>
                <p>Search for a Voice Actor!</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{#
<div>
    <pre>{{ staff }}</pre>
</div>
#} {% endblock %} {% block extra_js %}
<script>
    $(document).ready(function () {
        // Create a global variable for the observer
        window.observer = lozad();
        window.observer.observe();
    });

    const tooltipTriggerList = document.querySelectorAll(
        '[data-bs-toggle="tooltip"]'
    );
    const tooltipList = [...tooltipTriggerList].map(
        (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
    );
</script>
{% endblock %}
