{% extends "base.html" %} {% block title %}Profile: {{user.username}}{% endblock
%} {% block body_class %}profile{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Your Profile</h1>

            <p><strong>Username:</strong> {{user.username}}</p>
            <p><strong>Email:</strong> {{user.email}}</p>
            <p><strong>AniList Username:</strong> {{user.anilist_username}}</p>

            {% if user.anilist_username %}
            <p>
                <strong>List Last Updated:</strong>
                {{ user.anime_list_updated_at | time_since }}
                <a
                    href="/refresh-list"
                    class="btn btn-outline-primary btn-sm ml-2"
                    >Refresh List</a
                >
            </p>
            {% endif %} {% if g.user.id == user.id %}
            <a href="/profile/edit" class="btn btn-outline-secondary"
                >Edit Profile</a
            >
            <form method="POST" action="/profile/delete" class="form-inline">
                <button class="btn btn-outline-danger ml-2">
                    Delete Account
                </button>
            </form>
            {% endif %}

            <p>Debug (user.anime_list): {{ user.anime_list }}</p>
        </div>
    </div>
</div>
{% endblock %}
