{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Register</h1>
            <form method="POST" id="user_form">
                {{ form.hidden_tag() }} {% for field in form if
                field.widget.input_type != 'hidden' %}
                <div class="mb-3">
                    <label for="{{ field.id }}" class="form-label"
                        >{{ field.label.text }}</label
                    >
                    {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %} {{ field(placeholder=field.label.text,
                    class="form-control", id=field.id) }}
                </div>
                {% endfor %}
                <button class="btn btn-primary btn-lg btn-block">
                    Sign me up!
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
